*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
.header{
    justify-content: center;
    text-align: center;
}
.form{
    display: inline-block;
    justify-content: center;
    margin-left: 180px;
    width: 40%;
    text-decoration: bold;
    line-height: 1.6rem;
}
.form label{
    font-weight: 550;
    padding-bottom: 1.5rem;
    
}
.form select{
    width: 103.5%;
}
input{
    width:100%;
}
.submit{
    width: 104%;
}
input[type=submit], input[type=reset]{
    width: 103%;
}
input[type=submit]{
    background-color: blue;
    color: white;
}
input[type=reset]{
    background-color: red;
    color: white;
}
h5{
    margin-left: 15rem;
}